body{
	main{
		section#home{
			overflow: hidden;

			.container{
				.chart-container{
					width: 50%;
					height: 50%;
					max-width: 75%;
					min-height: 400px;
					display: inline-block;
					padding: 1rem;
					box-sizing: border-box;
					margin: auto;

					&.full-width{
						width: 100%;
					}
				}
			}
		}
	}
}