body{
	main{
		section#import{
			.container{
				display: flex;

				.info{
					flex: 1;
					
					form#settings{
						input#replays_dir_path{
							display: none;
						}

						label[for="replays_dir_path"]{
							padding-left: .5rem;
							padding-right: .5rem;
							transform: translateY(25%);
						}
					}

					.conf{
						font-family: 'Courier New', Courier, monospace;
					}
					
					.stats{
						table{
							margin: auto;
						}
					}
				}

				.logs{
					flex: 1;
					padding: 1rem;
					
					.output{
						font-family: 'Courier New', Courier, monospace;
						background-color: $dark;
						color: $white;
						overflow-y: scroll;
						box-sizing: border-box;
						padding: 1rem;
						height: calc(100vh - 2rem);

						span{
							display: block;

							&.text-success{
								color: $success;
							}

							&.text-warning{
								color: $warning;
							}

							&.text-error{
								color: $danger;
							}
						}
					}
				}
			}
		}
	}
}