@import "../../../node_modules/material-icons/iconfont/material-icons.css";
@import "./_fonts";
@import "./colors";

@import "./home";
@import "./matchups";
@import "./import";

:root {
	--filters-panel-right: 0;
}

body{
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Roboto", Arial, Helvetica, sans-serif;

	.row{
		display: flex;
	}

	form{
		.form-control{
			position: relative;
			margin-bottom: 36px;

			label{
				font-size: 1.2rem;
				margin-bottom: .5rem;
				display: inline-block;
			}

			input{
				font-size: 18px;
				border-radius: 4px 4px 0 0;
				padding: 20px 10px 10px 10px;
				display: block;
				width: 400px;
				border: none;
				border-bottom: 1px solid $dark;

				&:focus{
					outline: none;
				}
			}

			select{
				width: 100%;
			}
		}
	}

	.btn{
		background-color: transparent;
		font-size: 2rem;
		border: none;
		cursor: pointer;
		
		&.btn-icon{
			opacity: 0.6;
			transition-property: opacity;
			transition-duration: .3s;

			&:hover{
				opacity: 1;
			}
		}

		&:focus{
			outline: none;
		}
	}

	nav{
		z-index: 1000;
		background-color: $dark;
		color: $white;
		height: 100%;
		width: 120px;
		box-sizing: border-box;
		padding: 10px 20px;

		.container{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;

			.main{
				display: flex;
				flex-direction: column;
			}
		}

		.nav-item{
			background-color: $gray-100;
			display: inline-block;
			margin: 10px 0;
			border-radius: 10px;

			.material-icons-round{
				color: $black;
				font-size: 48px;
				padding: 16px;
			}
		}
	}

	.aside-container{
		position: fixed;
		top: 0;
		left: 120px;
		bottom: 0;
		right: 0;
		overflow: hidden;
		z-index: 200;
		transition: visibility 0 .3s;
		visibility: hidden;

		&::after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $dark;
			opacity: 0;
			transition: opacity .3s 0;
		}
	}

	aside{
		box-shadow: rgba($dark, .2) 0 0 20px;
		background-color: $gray-100;
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 20px;
		transform: translateX(100%);
		transition: .3s ease-in-out transform;
		overflow-y: scroll;

		button.collapse-button{
			position: absolute;
			left: 20px;
			top: 20px;
		}

		h2{
			margin-top: 0;
			text-align: center;
		}

		form{ 
			.select-chars{
				label{
					display: block;
					font-size: 1.2rem;
					margin-bottom: .5rem;
				}

				select{
					width: 100%;
				}
			}
		}
	}

	main{
		background-color: $white;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 120px;
		right: 0;
		overflow: hidden;

		header{
			background-color: $gray-100;
			padding: 2rem;
			height: 175px;
			box-sizing: border-box;

			button.expand-filters{
				position: absolute;
				right: 20px;
				top: 20px;
			}

			.versus{
				display: flex;
				justify-content: space-evenly;
				font-size: 2rem;
				font-weight: 600;
				text-align: center;
				margin-bottom: 20px;
	
				.vs{
					text-transform: uppercase;
				}
			}
	
			.global-stats{
				display: flex;
				justify-content: space-evenly;
				width: 50%;
				margin: 10px auto;
				text-align: center;
	
				& > *{
					padding: 0 20px 10px 20px;
	
					&:not(:first-child){
						border-left: solid 1px rgba($black, .1);
					}
				}
	
				.label{
					font-weight: bold;
	
					&::after{
						content: ":\00a0";
					}
				}
	
				.wins{
					color: $success;
				}
	
				.losses{
					color: $danger;
				}
	
				.ties{
					color: $warning;
				}
			}
		}

		section{
			position: absolute;
			top: 175px;
			left: 0;
			right: 0;
			bottom: 0;

			&.hidden{
				display: none;
			}

			.container{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				overflow-y: scroll;
			}
		}
	}

	&.filters-expanded {
		.aside-container{
			transition-delay: 0;
			visibility: visible;

			&::after{
				opacity: 0.6;
			}
		}

		aside{
			transform: translateX(0%);
		}
	}
}